@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
}

body {
		font-family: 'Roboto', Arial, sans-serif;
		background-color: #ebebeb;
		overflow-x: hidden;
		text-align: center;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 80px;
	background-color: #6b6d79c7;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.nav-li {
	line-height: 30px;
	display: flex;
}

.nav-ul {
	display: flex;
}

.nav-link:hover {
	background-color: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.nav-link {
	font-size: 15px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	padding: 8px 10px;
	width: 150px;
	margin: 2%;
	text-align: center;
	background-color: #4c4848b8;
	color: #fbfbfb;
	border-radius: 2px;
	transition: background-color 0.2s ease;
}

.nav-link:hover {
	background-color: #212121;
	cursor: pointer;
}

h1 {
	font-weight: 100;
	margin-bottom: 25px;
}

p {
	text-align: center;
	padding: 10px;
	color: #aaa;
	font-weight: 500;
}

.container {
	margin-top: 50px;
	min-width: 900px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.block {
	margin: 10px;
	border: 1px solid black;
}

.block_flex-wrapper {
	padding: 15px;
}

.block_main {
	display: flex;
	justify-content: space-between;
}

.block_exp {
	padding: 5px;
}

.block_exp-border-none {
	border-right: none;
}

.header_3 {
	margin: 20px;
}

.ul-hidden {
	display: none;
}

.hover:hover > .ul-hidden {
	display: block;
	position: absolute;
	top: 65px;
}

.gallery_wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 900px;
	margin-bottom: 70px;
}

.gallery-img__votes-wrapper {
	display: flex;
}

.gallery-img__votes {
	font-size: 20px;
	font-weight: 400;
	color: black;
}

.gallery_img {
	width: inherit;
	border-radius: 4px;
	border: 1px solid black;
}

.gallery_img-text_wrapper {
	display: flex;
	justify-content: space-between;
}

.gallery_img-text_block {
	text-decoration: none;
	color: black;
	font-weight: 300;
}

.gallery_img-big_img {
	max-width: 50%;
	border: 1px solid black;
	border-radius: 2%;
	margin-bottom: 30px;
}

.gallery_block {
	cursor: pointer;
	width: 250px;
	margin-bottom: 15px;
	-webkit-transition: -webkit-transform 0.7s;
	transition: transform 0.7s;
}

.gallery_block:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.image-views_invisible {
	display: none;
}

.image-views {
	position: relative;
	top: -55px;
	left: 105px;
}

.modal {
	-webkit-transition: -webkit-transform 0.7s;
	transition: transform 0.7s;
}

.active {
	-webkit-transform: scale(2);
	transform: scale(2);
}

.upload_image {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	background-color: #747578;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.form-group {
  padding: 1em;
  margin: 1em;
}

input[type="file"] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.label {
	height: 60px;
	width: 190px;
	border: 2px dashed #fbfbfb;
	border-radius: 5px;
	display: flex;
	padding: 1em;
	align-items: center;
	transition: border 300ms ease;
	cursor: pointer;
	text-align: center;
}
.label i {
	display: block;
	font-size: 42px;
}
.label i,
.label .title {
	font-weight: 400;
	color: #fbfbfb;
	transition: 200ms color;
}
.label:hover {
	border: 2px solid black;
}
.label:hover i,
.label:hover .title {
	color: black;
}

.submit_button:hover {
	background-color: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.submit_button {
	border: none;
	line-height: 30px;
	font-size: 15px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	padding: 8px 10px;
	width: 150px;
	margin: 2%;
	text-align: center;
	background-color: #4c4848b8;
	color: #fbfbfb;
	border-radius: 2px;
	transition: background-color 0.2s ease;
}

.submit_button:hover {
	background-color: #212121;
	cursor: pointer;
}

.error {
	margin-bottom: 10px;
	color: red;
}

.calculator {
	max-width: 300px;
	max-height: 400px;
	border: 1px solid black;
	border-radius: 20px;
	padding: 20px;
}

.calculator-output {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
	margin-bottom: 30px;
	background-color: white;
	width: 260px;
	height: 60px;
	font-size: 20px;
}

.calculator-output_input {
	visibility: hidden;
	/*display: none;*/
}

.calculator-buttons {
	display: flex;
}

.calculator-buttons__numbers {
	display: flex;
	flex-wrap: wrap;
}

.calculator-buttons__operations {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.button-style {
	background-color: #9799ad;
	cursor: pointer;
	margin: 5px;
	padding: 10px;
	width: 50px;
	border: 1px solid black;
	border-radius: 5px;
	text-shadow: 0 1px 1px rgba(255,255,255,.7);
  	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.1), inset 0 1px 1px rgba(255,255,255,.5);
}

.button-style:hover {
	background-color: #babed6;
}

.button-style:active {
	background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
  box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}

.feedback-wrapper {
	display: flex;
	justify-content: space-between;
}

.feedback {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}

.feedback__input {
	outline: none;
	padding: 10px;
	height: 45px;
	width: 250px;
	font-size: 18px;
	text-align: center;
	font-weight: 500;
	font-family: 'Roboto', Arial, sans-serif;
	border: none;
	resize: vertical;
	margin: 0 0 15px 0;
	border-radius: 5px;
}

.feedback__input_textarea {
	height: 80px;
}

.feedback__button {
	cursor: pointer;
	font-size: 15px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	padding: 8px 10px;
	width: 140px;
	text-align: center;
	background-color: #4c4848b8;
	color: #fbfbfb;
	border-radius: 5px;
	transition: background-color 0.2s ease;
	border: none;
	outline: none;
}

.feedback__button:hover {
	background-color: #212121;
	cursor: pointer;
}

.feedback__button:active {
	background-color: #4c4848b8;
}

.feedback-side {
	margin: 0 0 0 70px;
}

.feedback-side_display {
	display: none;
}

.feedback-side__item {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 15px 30px;
	margin-bottom: 20px;
	max-width: 350px;
}

.feedback-side__p {
	font-size: 18px;
	color: black;
	border-bottom: 1px solid black;
	margin-bottom: 15px;
}

.feedback-button_wrapper {
	display: flex;
	justify-content: space-around;
}

.feedback-side__button {
	width: 50px;
	padding: 3px;
	margin: 0 10px;
}

.catalog {
	display: flex;
	justify-content: space-evenly;
	width: 50%;
	flex-wrap: wrap;
	gap: 50px;
}

.catalog__item_small {
	min-height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	transition: .5s all;
	border: 2px solid transparent;
	border-radius: 10px;
	height: 210px;
}

.catalog__item_side-wrapper {
	width: 400px;
	margin-left: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.catalog__item_big {
	height: auto;
	align-items: initial;
	flex-direction: initial;
}

.catalog__item_hover:hover {
	background-color: #cccbcb;
}

.catalog__item-text {
	color: black;
}

.catalog__item-text_left {
	text-align: left;
}

.catalog__item-link {
	height: inherit;
}

.catalog__item-image {
	border: 2px solid transparent;
	border-radius: 10px;
	height: inherit;
}

.catalog__item_events {
	pointer-events: none;
}

.cart-item {
	flex-direction: row;
	height: 150px;
	width: 800px;
	min-height: initial;
	justify-content: space-between;
	margin: 25px 0;
	padding: 0 25px;
}

.cart__item-button {
	width: 50px;
}

.cart-buttons_wrapper {
	display: flex;
	justify-content: space-evenly;
	min-width: 160px;
}

.signIn {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-end;
}

.signIn__label {
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	padding: 8px 10px;
	outline: none;
	user-select: none;
	width: 150px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 15px;
}

.signIn__input {
	margin-bottom: 20px;
}

.checkout {
	padding: 25px;
	margin-top: 50px;
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
}

.checkout-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 15px;
}

.checkout-info__text {
	color: black;
	font-weight: 400;
	font-size: 18px;
}

.checkout-info__text_h {
	font-size: 26px;
	font-weight: 600;
}

.checkout-buttons_wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 10px;
}

.checkout__input {
	text-align: left;
}

.checkout__button {
	width: auto;
}

.auth-error {
	color: red;
	font-weight: 400;
	margin-bottom: 10px;
}